.account {
  margin: 0 auto;
  max-width: var(--intern-container);
  width: 98%;
}

.accountBox {
  display: flex;
}

.items {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.item {
  border: 1px solid var(--color-border-grey-light);
  border-radius: 10px;
  box-shadow: 0px 6px 11px -6px #000;
  padding: 1rem;
}

.item h4 {
  border-bottom: 1px solid var(--color-border-grey-light);
  margin: 0;
  padding-bottom: 0.5rem;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.buttons {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.right {
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
  border: 1px solid var(--color-border-grey-light);
  box-shadow: 0px 6px 11px -6px #000;
  height: fit-content;
  margin-top: 4rem;
  padding: 1rem;
  width: 40%;
}

.input {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid var(--color-border-grey-light);
  color: var(--color-border-grey-light);
  font-size: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}

.input:focus-visible {
  outline: none;
}

.input:focus,
.input:hover {
  border-bottom: 2px solid var(--color-border-grey-light);
}

/* Media queries */

@media (max-width: 768px) {
  .right {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .accountBox {
    display: block;
  }

  .right {
    width: 100%;
  }
}

.addressNotValid {
  color: red;
  font-size: 0.8rem;
}
