.restaurant {
  margin: 0 auto;
  max-width: var(--intern-container);
  width: 98%;
}

.restaurant h1 {
  color: var(--color-background-grey-dark);
  font-style: italic;
  margin: 0;
}

.close {
  display: block;
  color: #fff;
  background-color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
}

.info {
  align-items: center;
  display: flex;
  gap: 2rem;
}

.info span {
  font-weight: bold;
}

.logo {
  text-align: center;
  width: 100%;
}

.categories {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3rem;
}

.categories p {
  background-color: var(--color-border-grey);
  border-radius: 10px;
  color: var(--color-font-light);
  cursor: pointer;
  margin-bottom: 0.5rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  transition: all 0.3s ease;
}

.categories p.category {
  background-color: var(--color-primary);
}

.categories p:hover {
  opacity: 0.7;
}

/* Media queries */
@media (max-width: 640px) {
  .info {
    display: block;
  }

  .categories {
    display: block;
    text-align: center;
  }

  .categories p {
    padding: 0.5rem;
  }
}
